[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.136.0"
pytest = "==8.3.4"
httpx = "==0.28.1"
requests = "==2.33.1"
prometheus-client = "==0.21.1"
python-dotenv = "==1.0.0"
uvicorn = {extras = ["standard"], version = "==0.34.0"}

[dev-packages]
flake8 = "==7.1.1"

[requires]
python_version = "3.14"
